**
!package.json
!yarn.lock
!.yarnrc.yml
!.yarn/**
!vite.config.js
!eslint.config.js
!index.html
!nginx.conf
!src/**
!public/**
!README.md
!Dockerfile
!.dockerignore
node_modules
dist
*.log
*.env
.env.*
.git
.gitignore
.DS_Store
.idea
.vscode
